<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class ="container">
<header th:replace="fragments :: header"></header>
<!--One of the below statment will execute depending on whether there are any houses listed or not-->
<h2 th:unless="${houseLists} and ${houseLists.size()}">No House Listings</h2>
<h2 th:if="${houseLists} and ${houseLists.size()}">All Listings</h2>

<table class="table table-stripped">
    <thead>
    <tr>
        <th>ID</th>
        <th>House</th>
        <th>Location</th>
        <th>Price</th>
        <th>Year Built</th>
        <th>Status</th>

    </tr>
    </thead>

    <tr th:each="houseList:${houseLists}">
        <td th:text="${houseList.id}"></td>
        <td th:text="${houseList.houseDescription}"></td>
        <td th:text="${houseList.location}"></td>
        <td th:text="${houseList.price}+K"></td>
        <td th:text="${houseList.yearBuilt}"></td>
        <td th:text="${houseList.status.statusName}"></td>

    </tr>
</table>
</body>
</html>