<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class ="container">
<header th:replace="fragments :: header"></header>
<form method="post">

    <th:block th:each="houseList:${houseLists}">
        <div class="form-group">
          <label>
             <span th:text="${houseList.houseDescription}"></span>
            <input type="checkbox" name="houseIds" th:value="${houseList.id}" class="form-control">
         </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>
</body>
</html>