<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>
<body class ="container">
<header th:replace="fragments :: header"></header>
<form method="get" action="/house/updateDetails">
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>ID</th>
            <th>House</th>
            <th>Location</th>
            <th>Price</th>
            <th>Status</th>
            <th>Year Built</th>
            <th>Action</th>
        </tr>
        </thead>

        <tr th:each="houseList:${houseLists}">
            <div>
            <td th:text="${houseList.id}"></td>
            <td th:text="${houseList.houseDescription}"></td>
            <td th:text="${houseList.location}"></td>
            <td th:text="${houseList.price}"></td>
            <td th:text="${houseList.status.statusName}"></td>
            <td th:text="${houseList.yearBuilt}"></td>
            <td>
                <a th:id="a+${houseList.id}"  value="update" class="btn btn-success" th:href="@{/house/updateDetails?houseId={houseId}(houseId=${houseList.id})}">Update</a>
            </td>
            </div>
        </tr>

    </table>
</form>

</form>
</body>
</html>