<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class ="container">
<header th:replace="fragments :: header"></header>
<form method="post" >
    <div class="form-group">
        <label>House
            <input th:field="${houseList.houseDescription}" class="form-control">
        </label>
        <p class="error" th:errors="${houseList.houseDescription}"></p>
    </div>
    <div class="form-group">
        <label>Location
            <input th:field="${houseList.location}" class="form-control">
        </label>
        <p class="error" th:errors="${houseList.location}"></p>
    </div>
    <div class="form-group">
        <label>Price
            <input th:field="${houseList.price}" class="form-control">
        </label>
        <p class="error" th:errors="${houseList.price}"></p>
    </div>
    <div class="form-group">
        <label>Status
            <!--            <input th:feild="${houseList.status}" class="form-control">-->
            <select th:field="${houseList.status}">
                <option th:each="type : ${types}"
                        th:value="${type.id}"
                        th:text="${type.statusName}">
                </option>
            </select>
        </label>
        <p class="error" th:errors="${houseList.status}"></p>
    </div>
    <div class="form-group">
        <label>Year Built
            <input th:field="${houseList.yearBuilt}" class="form-control">
        </label>
        <p class="error" th:errors="${houseList.yearBuilt}"></p>
    </div>
    <div class="form-group">
        <label>
            <input type="hidden" name="houseId" th:value="${houseList.id}">
        </label>
    </div>
    <br>
    <div class="form-group">
        <label>
            <input type="submit" value="Update" class="btn btn-success">
        </label>
    </div>
</form>
</body>
</html>